# Untracked directories
.idea/
deploy/
build/
tmp/
docs/build/
deploy/*
temp/
.coverage
*_rc.py
tests/outputs
tests/outputs/*
test-reports.txt
test-results/
*.gpkg-shm
*.gpkg-wal

*~$*.*

# Untrack compiled files
*.pyc 
*.pyd

#are changed all the time, should be commited explicitely
*.cache/
*.cache/*
