# Untracked directories
.idea/
deploy/
build/
tmp/
docs/build/
.idea/*
.idea/*.*
deploy/*
temp/
docs/build/*
*_rc.py
tests/outputs
tests/outputs/*
test-reports.txt
test-results/
bitflagrenderer/resources.py
*.gpkg-shm
*.gpkg-wal

*~$*.*

# Untrack compiled files
*.pyc 
*.pyd

#are changed all the time, should be commited explicitely
*.cache/
*.cache/*
