Visualization of bit flags in raster quality images.

<h3>Features</h3>

<ul>
    <li>visualizes single bit flags (on/off) and groups of bits (2 bits = 4 states, 3 bits = 8 states)</li>
    <li>layer legend shows flag colors</li>
    <li>predefined flag schemes, e.g. for <a href="https://www.usgs.gov/land-resources/nli/landsat/landsat-collection-1-level-1-quality-assessment-band">Landsat 4-8 quality bands</a></li>
    <li>allows to specify, save and reload own flag schemes</li>
    <li>Documentation <a href="https://bit-flag-renderer.readthedocs.io/en/latest/">https://bit-flag-renderer.readthedocs.io/en/latest/</a></li>
    <li>Repository <a href="https://bitbucket.org/jakimowb/bit-flag-renderer">https://bitbucket.org/jakimowb/bit-flag-renderer</a></li>
</ul>

<p>
    The Bit Flag Renderer is developed at Humboldt-Universit&auml;t zu Berlin, <a href="https://hu-berlin.de/eo-lab">Earth Observation Lab</a>
    as part of the <a href="https://eo.belspo.be/en/stereo-in-action/projects/remote-sensing-image-processing-algorithms-land-use-and-land-cover">
    Land Use Monitoring System (LUMOS)</a> project, funded by the Belgian Science Policy Office as part of the Stereo-III research program (grant no. SR/01/349).
</p>

<p>
</p>
